body
{
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

path 
{
    fill: transparent;
}

svg 
{
    width: 62%;
    padding-left: 7%;
}

textPath a 
{
    fill: #0000EE;
}

.serifed
{
    font-family: 'Didot', sans-serif;
    font-style: italic;
}


.centered-wrapper 
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 320px;
}

.higher 
{
    padding-top: 200px;
}

.barcaLink 
{
    font-size: 30px;
}

.barca 
{
    padding-left: 29%;
}

h1
{
    font-weight: 400;
}